/* .ls {
    background: #001030;
    color: white;
    height: 75vh;
}

.ls-top {
    padding: 20px;
}

.ls-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-nav .logo {
    max-width: 140px;
}

.ls-nav .menu img {
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.ls-search{
    background-color: #002670;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
}

.ls-search img {
    width: 16px;
}

.ls-search input {
    background: transparent;
    border: none;
    color: white;
    font-size: 11px;
}

.ls-search input::placeholder{
    color: #c8c8c8;
}

.ls-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.friends img {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.friends {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

.friends div {
    display: flex;
    flex-direction: column;
}

.friends span {
    color: #9f9f9f;
    font-size: 11px;

}
.friends:hover {
    background-color: #077EFF;
}

.friends:hover span {
    color: white;
} */


.ls {
    background: #001030;
    color: white;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.ls-top {
    padding: 20px;
}

.ls-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-nav .logo {
    max-width: 140px;
}

.ls-nav .menu img {
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.ls-search {
    background-color: #002670;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
}

.ls-search img {
    width: 16px;
}

.ls-search input {
    background: transparent;
    border: none;
    color: white;
    font-size: 11px;
}

.ls-search input::placeholder{
    color: #c8c8c8;
}

.ls-list {
    flex: 1;
    overflow-y: auto;
}

.friends img {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.friends {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

.friends span {
    color: #9f9f9f;
    font-size: 11px;
}

.friends:hover {
    background-color: #077EFF;
}

.friends:hover span {
    color: white;
}
