.chat {
    min-height: 100vh;
    background: linear-gradient(#596AFF,#383699);
    display: grid;
    place-items: center;
}

.chat-container {
    width: 95%;
    height: 75vh;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.loading {
    font-size: 50px;
    color: white;
}

.chat-welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #adadad;
}

.chat-welcome img {
    width: 60px;
}

.chat-welcome p {
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}