.rs {
    color: white;
    background: #001030;
    position: relative;
    height: 75vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-left: 1px solid #002257;
}

.rs-profile {
    padding-top: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.rs-profile img {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid #003283;
}

.rs-profile h3 {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 8px 0px;
}

.rs-profile p {
    font-size: 12px;
    opacity: 80%;
    font-weight: 300;
}

.rs hr {
    border: none;
    border-bottom: 1px solid #ffffff20;
    margin: 10px 30px;
}

.rs-media {
    padding: 10px 20px;
    font-size: 13px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.rs-media > div {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    overflow-y: auto;
    padding-right: 5px;
}

.rs-media div img {
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    object-fit: cover;
}

.rs button {
    background: #077eff;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 65px;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
